In [23]:
import pandas as pd

import pickle

In [24]:
filename = 'finalized_model.sav'

loaded_model = pickle.load(open(filename, 'rb'))

In [69]:
data = { 
    'male': 1,
    'age': 39,
    'cigsPerDay': 19,
    'BPMeds': 0,
    'prevalentStroke': 0,
    'prevalentHyp': 0,
    'diabetes': 0,
    'totChol': 195,
    'BMI': 26.97,
    'heartRate': 80
}

data.values()

dict_values([1, 39, 19, 0, 0, 0, 0, 195, 26.97, 80])

In [70]:
loaded_model.predict([list(data.values())])

array([0])

In [33]:
df = pd.read_csv('framingham.csv')

df.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,BMI,heartRate,Label
0,1,39,0,0,0,0,0,195,26.97,80,0
1,0,46,0,0,0,0,0,250,28.73,95,0
2,1,48,20,0,0,0,0,245,25.34,75,0
3,0,61,30,0,0,1,0,225,28.58,65,1
4,0,46,23,0,0,0,0,285,23.10,85,0

In [34]:
y = df['Label']

X = df.drop(['Label'], axis=1)

X.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,BMI,heartRate
0,1,39,0,0,0,0,0,195,26.97,80
1,0,46,0,0,0,0,0,250,28.73,95
2,1,48,20,0,0,0,0,245,25.34,75
3,0,61,30,0,0,1,0,225,28.58,65
4,0,46,23,0,0,0,0,285,23.10,85

In [37]:
y_pred = loaded_model.predict(X)

In [39]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y, y_pred)

score

0.85046473482777474

In [40]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y, y_pred)

array([[3086,   15],
       [ 532,   25]])

In [50]:
x_now = X.iloc[0]

In [51]:
loaded_model.predict([x_now])

array([0])