In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('framingham.csv')

df.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,BMI,heartRate,Label
0,1,39,0,0,0,0,0,195,26.97,80,0
1,0,46,0,0,0,0,0,250,28.73,95,0
2,1,48,20,0,0,0,0,245,25.34,75,0
3,0,61,30,0,0,1,0,225,28.58,65,1
4,0,46,23,0,0,0,0,285,23.10,85,0

In [4]:
y = df['Label']

X = df.drop(['Label'], axis=1)

X.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,BMI,heartRate
0,1,39,0,0,0,0,0,195,26.97,80
1,0,46,0,0,0,0,0,250,28.73,95
2,1,48,20,0,0,0,0,245,25.34,75
3,0,61,30,0,0,1,0,225,28.58,65
4,0,46,23,0,0,0,0,285,23.10,85

In [5]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: Label, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [10]:
from sklearn.linear_model import LogisticRegression

logisticRegr = LogisticRegression()

logisticRegr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [11]:
y_pred = logisticRegr.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, y_pred)

score

0.82923497267759561

In [15]:
import pickle

# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(logisticRegr, open(filename, 'wb'))